# GOALS
# A. Disable password authentication with pubkey auth
# B. Lower values that were wrongfully high (ie LoginGraceTime)
# C. Change default SSH ports


# NOTICES
# The present configuration allows -X

Port {{ ssh_port }}
SyslogFacility AUTH
LogLevel INFO
LoginGraceTime 20s 
PermitRootLogin no
StrictModes yes
MaxAuthTries 2
MaxSessions 10
PubkeyAuthentication yes
PasswordAuthentication no
UsePAM yes
AllowAgentForwarding yes
X11Forwarding yes
PrintMotd yes
PrintLastLog yes
TCPKeepAlive yes
AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server
